<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Udeclone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active font-weight-bold' if current_page?(root_path) %>">
        <%= link_to root_path, class: 'nav-link' do %>
          <div class="fa fa-home"></div>
          Home
        <% end %>
      </li>
      <li class="nav-item <%= 'active font-weight-bold' if current_page?(courses_path) %>">
        <%= link_to courses_path, class: 'nav-link' do %>
        <div class="fa fa-book"></div>
        Courses
        <% end %>
      </li>
      <% if current_user %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Settings', edit_user_registration_path, class: 'dropdown-item' %>
          <a class="dropdown-item" href="#">Inbox</a>
          <div class="dropdown-divider"></div>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>

    </ul>
    <%= form_tag(courses_path, method: :get, class: 'form-inline my-2 my-lg-0') do %>
      <%= text_field_tag :title, params[:title], autocomplate: 'off', placeholder: 'Search', class: 'form-control mr-sm-2', type: 'search', aria: { label: 'Search' } %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <div class="fa fa-search"></div>
        Search
      </button>
    <% end %>
  </div>
</nav>
