<% flash.each do |name,msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
      <div id="flash_<%= name %>"><%= msg %></div>
    </div>
  <% end %>
<% end %>
