<!DOCTYPE html>
<html>
  <head>
    <title>Udeclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
